<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>User Registration Form</h2>
    <ul class="form-errors alert alert-danger" *ngIf="registrationForm.touched && !registrationForm.valid">
      <ng-container *ngIf="registrationForm.get('username').errors">
        <li *ngIf="registrationForm.get('username').errors['required']">Username field has been left blank</li>
        <li *ngIf="registrationForm.get('username').errors['pattern']">Username should only contain characters!</li>
        <li *ngIf="this.registrationForm.get('username').errors['minlength'] || this.registrationForm.get('username').errors['maxlength']">Username should be between 5 and 15 characters long</li>
      </ng-container>

      <li *ngIf="registrationForm.get('password').errors && registrationForm.get('password').errors['required']">Password field has been left blank</li>
      <li *ngIf="registrationForm.get('confirmPassword').errors && registrationForm.get('confirmPassword').errors['required']">Confirm Password field has been left blank</li>
      <li *ngIf="registrationForm.errors && registrationForm.errors['passwordMismatch']">Password and Confirm input text box values should match</li>

      <ng-container *ngIf="registrationForm.get('age').errors">
        <li *ngIf="registrationForm.get('age').errors['required']">Age has been left blank</li>
        <li *ngIf="registrationForm.get('age').errors['pattern']">Age should be positive integer</li>
        <li *ngIf="registrationForm.get('age').errors['min'] || registrationForm.get('age').errors['max']">Age should be between 18 and 118</li>
      </ng-container>
    </ul>
    <ul class="form-errors alert alert-success" *ngIf="registrationForm.touched && registrationForm.valid">
      <li>Form values successfully validated</li>
    </ul>

    <form [formGroup]="registrationForm" class="well" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group" [ngClass]="displayFieldCss('username')">
        <label>Username:</label>
        <input class="form-control" type="text" formControlName="username" />
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('password')">
        <label>Password:</label>
        <input class="form-control" type="password" formControlName="password" />
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('confirmPassword')">
        <label>Confirm Password:</label>
        <input class="form-control"  type="password" formControlName="confirmPassword" />
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('age')">
        <label>Age:</label>
        <input class="form-control" formControlName="age" />
      </div>


      <button type="submit" class="btn btn-primary pull-right">Submit</button>
      <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
    </form>

  </div>
</div>